.button {
    border: none;
    padding: .9em 2.2em;
    background-image: linear-gradient(to right,var(--limeGreen) 0%, var(--brightCyan) 100%);
    border-radius: 1.5em;
    color: var(--white);
    font-size: 1em;
    outline: none;
}